name: la-sazon-de-mariano
services:
  base-de-datos:
    build: .
    restart: always
    environment:
      - MARIADB_USER=user
      - MARIADB_PASSWORD=password
      - MARIADB_ROOT_PASSWORD=password
      - MYSQL_DATABASE=recetario
    ports:
      - 3306:3306
  phpmyadmin:
    image: phpmyadmin
    restart: always
    environment:
      - PMA_ARBITRARY=1
    ports:
      - 8080:80
