@font-face {
  font-family: "Roboto Slab";
  font-weight: 100 900;
  src: url("./static/fonts/RobotoSlab-VariableFont_wght.ttf");
  font-display: swap;
}

body {
  background-color: rgb(250, 252, 250);
}

body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  background-image: url("./static/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 10px 0px;
  border-bottom: 1px solid #cbd5e1;
  background-color: #ffffffdd;
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
}

.contenedor {
  max-width: 1280px;
  padding: 0px 16px;
  margin: auto;
}

.formulariocuenta {
  margin: 50px;
  margin-bottom: 0px;
}

header > div {
  height: 100%;
  display: flex;
  align-items: center;
}

#logo {
  height: 70px;
  object-fit: cover;
}

#nombre-empresa {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  color: red;
  margin-left: 8px;
  letter-spacing: -0.5px;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

header nav a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: #334155;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
select,
textarea {
  /* width: 100%; */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #4caf50;
  color: rgb(20, 1, 1);
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="reset"] {
  background-color: #c44b4b;
}

input[type="button"] {
  background-color: #ecdd52;
}

/* Clear floats after the columns */
.row::after {
  /* :after "pseudoelemento" https://www.w3schools.com/css/css_pseudo_elements.asp */
  content: "";
  display: table; /* Especifica como se muestra el elemento*/
  clear: both;
}

.row-chk {
  /* :after "pseudoelemento" https://www.w3schools.com/css/css_pseudo_elements.asp */
  content: "";
  /* Especifica como se muestra el elemento*/
  background-color: rgb(247, 250, 250);
}
.label-chk {
  margin-top: 6px;
  margin-left: 20px;
  padding: 12px 2px 12px 0;

  width: auto;
  float: left;
  display: inline-block;
  text-align: right;
}
.cls-chk {
  margin-top: 7px;
  margin-left: 0px;
  padding: 23px 5px 5px 0;
  float: left;
  width: auto;
  display: inline-block;
}

.functionofpage {
  color: rgb(255, 254, 254);
  font-size: 35px;
  font-family: "Roboto Slab", serif;
  padding: 30px;
  text-align: center;
}

.buttons {
  margin-top: 15px;
  margin-bottom: 30px;
}

.condiciones {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 1px solid #bababa;
  padding: 7px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (min-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    /* width: 100%; */
    margin-top: 0;
  }

  input[type="text"],
  input[type="date"],
  input[type="password"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #bababa;
    border-radius: 10px;
    resize: vertical;
  }
}
