header {
  padding: 8px 0px;
  border-bottom: 1px solid #cbd5e1;
  background-color: #ffffffdd;
  backdrop-filter: sticky;
  top: 0;
}

header > div {
  max-width: 1280px;
  padding: 0px 16px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

#imagen-logo {
  height: 52px;
  object-fit: cover;
}

#nombre-empresa {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  margin-left: 8px;
  letter-spacing: -0.5px;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

header nav a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #334155;
  font-weight: 500;
}
