body {
  background-color:  rgb(178, 207, 233);
}

body,
html {
  height: 100%;
}
#txt{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.822);
  letter-spacing: -0.5px;
  margin: 10px ;

}
.bg-image {
  /* The image used */
  background-image: url("/static/img/pantallas/receta-crear/fondo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ingredientes {
  margin-top: 12px;
  display: flex;
  gap: 4px;
}

.ingredientes > button {
  font-size: 1rem;
  background: #4ade80;
  padding: 0px 8px;
}

.formularioreceta {
  margin: 50px;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 18px 0px;
  border-bottom: 1px solid #cbd5e1;
  background-color: #ffffffdd;
  backdrop-filter: sticky;
  top: 0;
}

.contenedor {
  max-width: 1280px;
  padding: 0px 16px;
  margin: auto;
}

header > div {
  height: 100%;
  display: flex;
  align-items: center;
}

#imagen-logo {
  height: 52px;
  object-fit: cover;
}

#nombre-empresa {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  margin-left: 8px;
  letter-spacing: -0.5px;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
.search-container {
  margin: 20px;
}

input[type="text"] {
  width: 180px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 90px;
}

button {
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 180px;
  cursor: pointer;
}

header {
  padding: 18px 0px;
  border-bottom: 1px solid #cbd5e1;
  background-color: #ffffffdd;
  backdrop-filter: sticky;
  top: 0;
}

.contenedor {
  max-width: 1280px;
  padding: 0px 16px;
  margin: auto;
}

header > div {
  height: 100%;
  display: flex;
  align-items: center;
}

#imagen-logo {
  height: 52px;
  object-fit: cover;
}

#nombre-empresa {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  margin-left: 8px;
  letter-spacing: -0.5px;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

header nav a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #334155;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input[type="text"],
input[type="text"],
select,
textarea {
  /* width: 100%; */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #4caf50;
  color: rgb(20, 1, 1);
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="reset"] {
  background-color: #c44b4b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="button"] {
  background-color: #ecdd52;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Clear floats after the columns */
.row::after {
  /* :after "pseudoelemento" https://www.w3schools.com/css/css_pseudo_elements.asp */
  content: "";
  display: table; /* Especifica como se muestra el elemento*/
  clear: both;
}

.row-chk {
  /* :after "pseudoelemento" https://www.w3schools.com/css/css_pseudo_elements.asp */
  content: "";
  /* Especifica como se muestra el elemento*/
  background-color: #fdfcfc;
}
.label-chk {
  margin-top: 6px;
  margin-left: 20px;
  padding: 12px 2px 12px 0;

  width: auto;
  display: inline-block;
  text-align: right;
}
.cls-chk {
  margin-top: 7px;
  margin-left: 0px;
  padding: 23px 5px 5px 0;

  width: auto;
  display: inline-block;
  
}

input[type="checkbox"] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;

}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type="checkbox"]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

.Categorias {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px solid #bababa;
  padding: 7px;
  margin-bottom: 20px;
}

.fs {
  border-width: 0px;
}

.condiciones {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px solid #bababa;
  padding: 7px;
}

/*
img{
    width: 4%;
}
*/
.functionofpage {
  color: rgb(255, 254, 254);
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px;
  text-align: center;
}

.buttons {
  margin: 50px;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (min-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    /* width: 100%; */
    margin-top: 0;
  }

  input[type="text"],
  input[type="date"],
  input[type="password"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #bababa;
    border-radius: 10px;
    resize: vertical;
  }
}

