@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  src: url("/static/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100 900;
  src: url("/static/fonts/RobotoSlab-VariableFont_wght.ttf");
  font-display: swap;
}

:root {
  --std-border-radius: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:  rgb(178, 207, 233);
}

.contenedor {
  max-width: 1280px;
  padding: 0px 16px;
  margin: auto;
}

/* RECETA */

#contenedor-receta {
  margin: 16px auto;
}

#contenedor-receta h1 {
  letter-spacing: -1.5px;
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenedor-receta h2 {
  letter-spacing: -1px;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* RECETA -> CABECERA */

#cabecera-receta {
  display: flex;
  align-items: start;
  gap: 8px;
}

#resumen-receta {
  flex-grow: 1;
}

#metadata-receta {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #334155;
}

#descripcion-receta {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.5rem;
}

#contenedor-imagen-receta {
  margin: auto;
  margin-top: 12px;
  max-width: 512px;
}

#imagen-receta {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* RECETA -> DESCRIPCION */

#descripcion-receta {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#ingredientes-receta {
  margin-top: 12px;
}

#ingredientes-receta > div {
  padding: 16px;
  text-align: center;
  border: 1px solid #cbd5e1;
  border-radius: var(--std-border-radius);
  background-color: #f1f5f9;
}

#ingredientes-receta ul {
  margin-left: 8px;
  list-style: none;
}

#instrucciones-receta {
  margin-top: 12px;
}

#instrucciones-receta > p {
  margin-bottom: 8px;
}

#instrucciones-receta > p:last-child {
  margin-bottom: 0;
}

/* RECETA -> COMENTARIOS */

#comentarios-receta {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form {
  display: flex;
  align-items: start;
  gap: 8px;
}

textarea {
  height: 4rem;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: var(--std-border-radius);
  border: 1px solid #cbd5e1;
  flex: 1;
  
}

textarea::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button[type="submit"] {
  padding: 8px;
  border-radius: var(--std-border-radius);
  background-color: #3b82f6;
  border: 1px solid #2563eb;
  color: white;
}

#lista-comentarios {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contenedor-comentario {
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: var(--std-border-radius);
  background-color: #f1f5f9;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  #contenedor-receta h1 {
    font-size: 2rem;
  }

  #contenedor-receta h2 {
    font-size: 1.5rem;
  }

  #descripcion-receta {
    grid-template-columns: 1fr 2fr;
  }

  #cabecera-receta {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  #descripcion-receta {
    grid-template-columns: 1fr;
  }
}

#listado-comentarios {
  list-style: none;
}

#listado-comentarios > * + * {
  margin-top: 8px;
}

#listado-comentarios li {
  padding: 8px;
  background-color: white;
  border-radius: 12px;
}

form button {
  width: min-content;
  font-size: 1rem;
}
