.body{
  background-color: rgb(189, 211, 203);
}
.bg-image {
  /* The image used */
  background-image: url("/static/img/pantallas/receta-crear/fondo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 18px 0px;
  background-color: #ffffffdd;
  backdrop-filter: sticky;
  top: 0;
}

.contenedor {
  max-width: 1280px;
  padding: 0px 16px;
  margin: auto;
}

header > div {
  height: 100%;
  display: flex;
  align-items: center;
}

#imagen-logo {
  height: 52px;
  object-fit: cover;
}

#nombre-empresa {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  margin-left: 8px;
  letter-spacing: -0.5px;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

header nav a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #334155;
  font-weight: 500;
}

#txt{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.822);
  letter-spacing: -0.5px;

}

.medal {
width:400px;
height: 450px;
background-position: center;
display: block;
margin-left: auto;
margin-right: auto;
}

.box{
  background-color: #fff;
  border-radius: 180px;
  padding: 15px;

}
.functionofpage{
color:rgba(49, 49, 42, 0.822);
font-size: 30px; 
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding: px; 
text-align: center;
}

.buttons{ 
  margin-top: 15px;
  margin-bottom: 0px; 
  text-align: center; 
}



input[type=submit] ,input[type=reset], input[type=button]{
  background-color: #4CAF50;
  color: rgb(20, 1, 1);
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=button]{
  background-color: #7dfd60;
}

.row::after {                      /* :after "pseudoelemento" https://www.w3schools.com/css/css_pseudo_elements.asp */
  content: ""; 
  display: table;                /* Especifica como se muestra el elemento*/
  clear: both;
}


.row-chk {                      /* :after "pseudoelemento" https://www.w3schools.com/css/css_pseudo_elements.asp */
  content: ""; 
  /* Especifica como se muestra el elemento*/
  background-color: rgb(247, 250, 250) ;

}

.label-chk {    
  margin-top: 6px;   
  margin-left: 20px;
  padding: 12px 2px 12px 0;

  width: auto; 
  display: inline-block;
  text-align: right;
}
.cls-chk {
  margin-top: 7px;  
  margin-left: 0px;  
  padding: 23px 5px 5px 0;
  width: auto;
  display: inline-block;
}

@media screen and (min-width: 600px) {
  .col-25, .col-75, input[type=submit] ,input[type=reset], input[type=button]{
    /* width: 100%; */
    margin-top: 0;
  }
}

input[type=text],input[type=date], input[type=password], input[type=email],select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #bababa;
  border-radius: 10px;
  resize: vertical;
}  
