<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" href="/static/img/logo.png" />
  <title>Inicio | La Sazón de Mariano</title>
  <link rel="stylesheet" href="/static/css/comun.css" />
  <link rel="stylesheet" href="/static/css/index.css" />
</head>

<body>
  {% include "header.html" %}

  <section class="slider-wrapper">
    <!--CATEGORIAS-->
    <div class="cont-c">
      {% for pais in paises %}
      <form method="post" action="/buscar" class="flex-box">
        <input name="busqueda" value="{{ pais['nombre'] }}" hidden>
        <button class="fotos" type="submit">
          <img src="{{ '/static/img/paises/' + pais['imagen'] }}" />
        </button>
      </a>
      </form>
      {% endfor %}
    </div>
  </section>

  <div class="flex-box1">
    <span id="txt">Últimas Recetas</span>
  </div>

  <!--RECETAS-->
  <div class="contenedor-recetas">
    {% for receta in recetas %}
    <a href="/receta/{{receta['id']}}" class="tarjeta-receta">
      <img src="{{ '/static/img/recetas/' + receta['imagen'] }}" />
      <h1>{{ receta['nombre'] }}</h1>
      <p>{{ receta['descripcion'] }}</p>
    </a>
    {% endfor %}
  </div>
</body>

</html>
