<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/perfil.css" />
    <title>Sazón de Mariano</title>
    <link rel="icon" href="./static/logo.jpeg">
  </head>
  <body>
    <header>
      <div class="contenedor">
        <img id="logo" src="./static/logo.jpeg" />
        <p id="nombre-empresa">La sazón de Mariano</p>
        <nav>
          <ul>
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./receta.html">Explorar</a></li>
            <li><a href="./crear_cuenta.html">Ingresar</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div>
      <h1>Mi perfil</h1>
    </div>
    <div class="perfil">
      <div>
        <img class="imagen-perfil" src="./static/img/nota_food-network-estrena-locos-x-el-asado.jpeg"/>
      </div>
      <div class="datos">
        <h1 class="nombre">Lautaro</h1>
        <h1 class="apellido">Luchetti</h1>
        <h1 class="email">lautaroluchetti@uca.edu.ar</h1>
      </div>

      ESTE ES MI ID {{ usuario['id'] }}

      <form action="/perfil/{{ usuario['id'] }}" method="POST">
        <input name="nombre" value="Eduardo" />
      </form>

      <div class="nueva-receta">
        <img class="imagen-receta" src="./static/img/add.jpeg"/>
        <div class="texto">
          <h1><a href="./crear_receta.html">Agregar receta</a></h1>
        </div>
      </div>
    </div>

    <div>
      <h1>Recetas subidas</h1>
    </div>
    <div class="lista-alimentos" id="li2">
      <div class="alimento" id="rec4">
        ...
        <div class="imagen-alimento">
          <a href="./receta.html"><img src="./static/img/brochetas.jpeg" /></a>
          <div class="texto">
            <h1><a href="./receta.html">Brochetas</a></h1>
          </div>
        </div>
      </div>
      <div class="alimento" id="rec5">
        ...
        <div class="imagen-alimento">
          <a href="./receta.html"><img src="./static/img/risotto-vegano-1.jpeg" /></a>
          <div class="texto">
            <h1><a href="/">Risotto de hongos</a></h1>
          </div>
        </div>
      </div>
      
    </div>
    <script src="/static/js/perfil.js"></script>
  </body>
</html>
