<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Receta | La Sazón de Mariano</title>
  <link rel="icon" href="/static/img/logo.png" />
  <link rel="stylesheet" href="/static/css/comun.css" />
  <link rel="stylesheet" href="/static/css/receta-crear.css">
</head>

<body>
  {% include "header.html" %}

  <div class="bg-image">

    <div class="functionofpage">
      <span id="txt">Publicar Receta</span>
    </div>

    <div class="formularioreceta">

      <form>
        <label for="nom02">Nombre del Plato:</label><br>
        <input type="text" name="nombreplato" id="nom02" value="aaa"><br>

        <label for="descrip">Instrucciones del Plato:</label><br>
        <input type="text" name="recetadescrip" id="descrip" value="aaa"><br>

        <div id="inputsingredientes" class="ingredientes">
          <label for="ingrediente">Ingrediente:</label>
          <input type="text" name="ingredientename" id="ingrediente">

          <label for="cantidad">Cantidad:</label>
          <input type="text" name="ingredientecant" id="cantidad">

          <label for="selQuan">Medida:</label>
          <select id="selQuan" name="medidas" title="Seleccione...">
            <option value="0" disabled selected>Seleccionar..</option>
            {% for medida in medidas %}
            <option value="{{medida['id']}}">{{medida['nombre']}}</option>
            {% endfor %}
          </select>

          <button class="agregarbutton" type="button" id="btnAgregar" onclick="agregarIngrediente()">Agregar</input>
        </div>

        <label for="arch02">Agregar Imagen del Plato:</label><br>
        <input type="file" name="archivoplato" id="arch02" /><br><br>

        <label for="selLoc">Pais del Origen:</label><br>
        <select id="selLoc" name="localidad" title="Seleccione...">
          <option value="0" disabled selected>Seleccionar..</option>

          {% for pais in paises %}
          <option value="{{pais['id']}}">{{ pais['nombre'] }}</option>
          {% endfor %}
        </select>

        <br><br>

        <div class="Categorias">
          <fieldset class="fs">
            <legend>Categorias:</legend>
            {% for cat in categorias %}
            <input type="checkbox" id="{{ cat['id'] }}" name="{{ 'categoria-' + cat['id']|string }}"
              value="{{ cat['id'] }}" />
            <label for="{{ cat['id'] }}">{{ cat['nombre'] }}</label>
            {% endfor %}
          </fieldset>
        </div>

        <fieldset class="condiciones">
          <legend></legend>
          <input type="checkbox" id="chk00" name="terminos" />
          <label for="chk00"> Acepto los términos y condiciones del publicación en el sitio web</label>
        </fieldset>

    </div>

    <div class="buttons">
      <input id="btn" type="submit" value="Publicar">
      <input id="ayudabtn" type="button" value="Ayuda">
      <input type="reset" value="Cancelar">
    </div>

    </form>
  </div>

  <script src="/static/js/receta-crear.js"></script>
</body>

</html>
