<!doctype html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/static/img/logo.png" />
	<title>{{ receta["nombre"] }} | La Sazón de Mariano</title>
	<link rel="stylesheet" href="/static/css/comun.css" />
	<link rel="stylesheet" href="/static/css/receta.css" />
</head>

<body>
	<header>
		<div class="contenedor">
			<img id="imagen-logo" src="/static/img/logo.png" />
			<p id="nombre-empresa">La sazón de Mariano</p>
			<nav>
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/explorar">Explorar</a></li>
					<li><a href="/crear-cuenta">Ingresar</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main id="contenedor-receta" class="contenedor">
		<div id="cabecera-receta">
			<div id="resumen-receta">
				<h1 id="nombre-receta">{{ receta["nombre"] }}</h1>

				<div id="metadata-receta">
					<div id="registro-receta">
						<span>
							Agregado por
							<span id="nombre-autor-receta">{{ receta["nombre_usuario"] }}</span>
						</span>
					</div>
				</div>
			</div>

			<button id="guardar-receta">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.75">
					<path stroke-linecap="round" stroke-linejoin="round"
						d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
				</svg>
			</button>
		</div>

		<div id="contenedor-imagen-receta">
			<img id="imagen-receta" src="{{ '/static/img/recetas/' + receta['imagen'] }}" />
		</div>

		<div id="descripcion-receta">
			<section id="ingredientes-receta">
				<div>
					<h2>Ingredientes</h2>
					<ul id="lista-ingredientes">
						{% for ingrediente in receta["ingredientes"] -%}
              <li>{{ ingrediente["nombre"] }} - {{ ingrediente["cantidad"] }}</li>
						{% endfor %}
					</ul>
				</div>
			</section>

			<section id="instrucciones-receta">
				<h2>Pasos</h2>
				<p>{{ receta["pasos"] }}</p>
			</section>
		</div>

		<section id="comentarios-receta">
			<h2>Comentarios</h2>
			<form>
				<textarea name="contenido" placeholder="Agregá un comentarios sobre la receta."></textarea>
				<button type="submit">Comentar</button>
			</form>

			<ul id="lista-comentarios"></ul>
		</section>
	</main>

	<script src="/static/js/receta.js"></script>
</body>

</html>
