<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Receta | La Sazón de Mariano</title>
  <link rel="icon" href="/static/img/logo.png" />
  <link rel="stylesheet" href="/static/css/comun.css" />
  <link rel="stylesheet" href="/static/css/receta-crear.css">
</head>

<body>
  {% include "header.html" %}

  <div class="bg-image">

    <div class="functionofpage">
      <span id="txt">Publicar Receta</span>
    </div>

    <div class="formularioreceta">

      <form id="formulario-receta" enctype="multipart/form-data">
        <label for="nombre">Nombre del Plato:</label><br>
        <input type="text" name="nombre" id="nombre"><br>

        <label for="pasos">Instrucciones del Plato:</label><br>
        <input type="text" name="pasos" id="pasos"><br>

        <div id="inputs-ingredientes" class="ingredientes">
          <label for="nombre-ingrediente">Ingrediente:</label>
          <input type="text" name="nombre-ingrediente" id="nombre-ingrediente">

          <label for="cantidad-ingrediente">Cantidad:</label>
          <input type="text" name="cantidad-ingrediente" id="cantidad-ingrediente">

          <label for="medida-ingrediente">Medida:</label>
          <select id="medida-ingrediente">
            <option value="0" disabled selected>Seleccionar..</option>
            {% for medida in medidas %}
              <option value="{{medida['id']}}">{{medida['nombre']}}</option>
            {% endfor %}
          </select>

          <button class="agregarbutton" type="button" onclick="agregarIngrediente()">Agregar</button>
        </div>

        <ul id="listaIngredientes"></ul>

        <label for="imagen">Agregar Imagen del Plato:</label><br>
        <input type="file" name="imagen" id="imagen" /><br><br>

        <label for="id_pais">Pais del Origen:</label><br>
        <select id="id_pais" name="id_pais">
          <option value="0" disabled selected>Seleccionar..</option>

          {% for pais in paises %}
          <option value="{{pais['id']}}">{{ pais['nombre'] }}</option>
          {% endfor %}
        </select>

        <br><br>

        <div class="Categorias">
          <fieldset class="fs">
            <legend>Categorias:</legend>
            {% for cat in categorias %}
            <input type="checkbox" id="{{ cat['id'] }}" name="{{ 'categoria-' + cat['id']|string }}"
              value="{{ cat['id'] }}" />
            <label for="{{ cat['id'] }}">{{ cat['nombre'] }}</label>
            {% endfor %}
          </fieldset>
        </div>

        <fieldset class="condiciones">
          <legend></legend>
          <input type="checkbox" id="condiciones" name="terminos" />
          <label for="condiciones"> Acepto los términos y condiciones del publicación en el sitio web</label>
        </fieldset>

    </div>

    <div class="buttons">
      <input type="submit" value="Publicar">
      <input id="ayudabtn" type="button" value="Ayuda">
      <input type="reset" value="Cancelar">
    </div>

    </form>
  </div>

  <script src="/static/js/receta-crear.js"></script>
</body>

</html>
