<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Cuenta | La Sazón de Mariano</title>
  <link rel="icon" href="/static/img/logo.png" />
  <link rel="stylesheet" href="/static/css/comun.css" />
  <link rel="stylesheet" href="/static/css/signup.css" />
</head>

<body>
  {% include "header.html" %}

  <div class="bg-image">

    <div class="functionofpage">
      <b>Crear Cuenta</b>
    </div>

    <div class="formulariocuenta">

      <form id="formulario-signup" method="post" action="/signup" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre" id="nombre"><br>
        <label for="nombre_usuario">Usuario:</label><br>
        <input type="text" name="nombre_usuario" id="nombre_usuario"><br>
        <label for="descripcion">Descripción:</label><br>
        <textarea name="descripcion" id="descripcion"></textarea><br>
        <label for="contrasenia">Contraseña:</label><br>
        <input type="password" name="contrasenia" id="contrasenia" /><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email" id="email"><br>
        <label for="imagen">Agregar Imagen de Perfil:</label><br>
        <input type="file" name="imagen" id="imagen" /><br><br>

        <label for="id_pais">Pais:</label><br>
        <select id="id_pais" name="id_pais">
          <option value="0" disabled selected>Seleccionar..</option>
          <option value="1">Argentina</option>
          <option value="2">Brazil</option>
          <option value="3">Bolivia</option>
          <option value="4">Chile</option>
          <option value="5">Ecuador</option>
          <option value="6">España</option>
          <option value="7">México</option>
          <option value="8">Nicaragua</option>
          <option value="9">Polonia</option>
          <option value="10">Suecia</option>
        </select>
        <br><br>

        <fieldset class="condiciones">
          <label for="condiciones">Acepto los términos y condiciones del sitio web:</label>
          <input type="checkbox" id="condiciones" name="terminos" />
        </fieldset>

        <div class="buttons">
          <input type="submit" id="crear-cuenta-btn" value="Crear Cuenta">
          <input type="button" id="ayuda-btn"        value="Ayuda">
          <input type="reset"  id="cancel-btn"       value="Cancelar">
        </div>
        <script src="/static/js/signup.js"></script>
      </form>
    </div>
</body>

</html>
