<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/static/img/logo.png" />
  <title>La sazón de Mariano</title>
  <link rel="stylesheet" href="/static/css/comun.css" />
  <link rel="stylesheet" href="/static/css/usuario-creado.css" />
</head>

<body>
  <header>
    <div class="contenedor">
      <img id="imagen-logo" src="/static/img/logo.png" />
      <span id="nombre-empresa">La sazón de Mariano</span>

      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/">Explorar</a></li>
          <li><a href="/signin">Ingresar</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="bg-image">
    <div class="functionofpage">
      <span id="txt">¡SU CUENTA FUE CREADA CON EXITO!</span>
    </div>


    <div class="buttons">
      <input type="button" id="btn" value="Empezar buscar o crear!" />
    </div>

    <div class="parent">
      <img class="medal" src="/static/img/pantallas/usuario-creado/medalla.jpeg" />
    </div>
  </div>
</body>

</html>
