<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/static/css/usuario.css" />
  <title>Sazón de Mariano</title>
  <link rel="icon" href="/static/logo.jpeg" />
</head>

<body>
  {% include "header.html" %}

  <div class="flex-box2">
    <div class="perfil">
      <div>
        <img id="imagen-perfil" src="{{ '/static/img/usuarios/' + usuario['imagen'] }}" />
      </div>

      <div class="datos">
        <span id="txt">Mi perfil</span>
        <h1 class="nombre">Lautaro Luchetti</h1>
        <h1 class="email">lautaroluchetti@uca.edu.ar</h1>
        <h1 class="descripcion">Sobre mi:</h1>
        <h2 class="descripcion">
          Esta es mi descripcion donde escribo cosas interesantes sobre mi
          como mi amor por las ardillas y los unicornios,lkcm
          vsklfmvksmfvkmkldvmskldvklsdnvkldnsfvlkdnvklnskldvnskldvnkldsfnv
          kldfn
        </h2>
      </div>

      <div class="nueva-receta">
        <h1><a href="/receta/crear">Nueva receta</a></h1>
      </div>
    </div>
  </div>

  <div class="flex-box1">
    <span id="txt"> Mis recetas </span>
  </div>
  <div class="lista-alimentos" id="li2">
    {% for receta in recetas %}
    <div class="alimento" id="rec4">
      <div class="imagen-alimento">
        <img src="{{ '/static/img/recetas/' + receta['imagen'] }}" />
        <div class="texto">
          <h1>
            <a href="/receta/{{ receta['id'] }}">{{ receta['nombre'] }}</a>
          </h1>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

</html>
