* {
  box-sizing: border-box;
}

h1 {
  color: #e7307b;
}

form {
  width: fit-content;
  border: 1px solid red;
  margin: auto;
}

form label {
  color: rgb(175, 130, 255);
  display: block;
  text-align: left;
}

form input {
  height: 24px;
  width: 100%;
  max-width: 240px;
  border-radius: 8px;
  background-color: rgb(200, 170, 255);
}

.terms input {
  width: auto;
}

.terms label {
  display: inline;
}
