@font-face {
  font-family: "Roboto Slab";
  font-weight: 100 900;
  src: url("./static/fonts/RobotoSlab-VariableFont_wght.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(214, 255, 222);
}

.topnav {
  width: 100%;
  padding: 0;
  background-image: linear-gradient(rgba(0, 8, 51, 0, 9), rgba(0, 8, 51, 0, 9)),
    url(imges/background.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  padding: 5px 10px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 60px;
  color: #cac7ff;
}

::placeholder {
  color: #cac7ff;
}

.search-bar button img {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ecedf0;
  cursor: pointer;
}

.topnav a.hover {
  background-color: #dddd;
  color: black;
}

header {
  padding: 8px 0px;
  border-bottom: 1px solid #cbd5e1;
  background-color: #ffffffdd;
  backdrop-filter: sticky;
  top: 0;
}

.contenedor {
  max-width: 1280px;
  padding: 0px 16px;
  margin: auto;
}

header > div {
  height: 100%;
  display: flex;
  align-items: center;
}

#imagen-logo {
  height: 52px;
  object-fit: cover;
}

#nombre-empresa {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  color: red;
  margin-left: 8px;
  letter-spacing: -0.5px;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

header nav a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: #334155;
  font-weight: 500;
}

.flex-container {
  justify-content: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.flex-box {
  width: 80px;
  height: 80px;
  border-radius: 180px;
  background: white;
  color: rgb(0, 0, 0);
  font-size: 13px;
  text-align: center;
  overflow: hidden;
  line-height: 60px;
  margin: 10px;
}

.texto {
  flex-shrink: auto;
  text-size-adjust: auto;
  text-align: left;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  object-fit: cover;
}

.fotos img {
  width: 90%;
  overflow: hidden;
  border-radius: 180px;
  margin: 4px;
  object-fit: cover;
}

.fotos2 img {
  width: 90%;
  object-fit: cover;
}

.flex-container2 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
  flex-direction: row;
}

.flex-box2 {
  background: white;
  color: rgb(0, 0, 0);
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.topnav input[type="text"] {
  border: 1px solid #ccc;
}
