@font-face {
  font-family: "Roboto Slab";
  font-weight: 100 900;
  src: url("../static/fonts/RobotoSlab-VariableFont_wght.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(214, 255, 222);
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: auto;
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slides-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}
#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}
#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.search-container {
  margin: 20px;
}

input[type="text"] {
  width: 180px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 90px;
}

button {
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 180px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
header {
  padding: 8px 0px;
  border-bottom: 1px solid #cbd5e1;
  background-color: #ffffffdd;
  backdrop-filter: sticky;
  top: 0;
}

.contenedor {
  max-width: 1280px;
  padding: 0px 16px;
  margin: auto;
}

header > div {
  height: 100%;
  display: flex;
  align-items: center;
}

#imagen-logo {
  height: 52px;
  object-fit: cover;
}

#nombre-empresa {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  margin-left: 8px;
  letter-spacing: -0.5px;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

header nav a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #334155;
  font-weight: 500;
}

.cont-c {
  justify-content: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.flex-box {
  width: 80px;
  height: 80px;
  border-radius: 180px;
  background: white;
  color: rgb(0, 0, 0);
  font-size: 13px;
  text-align: center;
  overflow: hidden;
  line-height: 60px;
  margin: 10px;
}

.texto {
  margin: 6px;
  text-align: center;
  object-fit: cover;
}

.fotos img {
  width: 90%;
  overflow: hidden;
  border-radius: 180px;
  margin: 4px;
  object-fit: cover;
}

.fotos2 {
  margin-top: 4px;
  width: 90%;
  object-fit: cover;
  border-radius: 20px;
}

#txt {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(49, 49, 42, 0.822);
  margin-left: 15px;
  letter-spacing: -0.5px;
}

.cont-r {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
  flex-direction: row;
}

.flex-box2 {
  background: white;
  color: rgb(0, 0, 0);
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.topnav input[type="text"] {
  border: 1px solid #ccc;
}
