body {
  font-family: tahoma;
  align-items: center;
}

.imagen-perfil {
  height: 240px;
  width: 240px;
  margin: 10px;
}

.lista-alimentos {
  width: fit-content;
  border: 1px solid red;
  margin: auto;
  display: flex;
  background-color: rgb(175, 130, 255);
  padding: 10px;
}

.imagen-alimento {
  height: 240px;
  width: 240px;
  margin: 10px;
}
