@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  src: url("./static/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  font-weight: 100 900;
  src: url("./static/fonts/RobotoSlab-VariableFont_wght.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  padding: 10px 0px;
  border-bottom: 1px solid #cbd5e1;
  background-color: #ffffffdd;
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
}

.contenedor {
  max-width: 1280px;
  padding: 0px 16px;
  margin: auto;
}

/* HEADER */

header > div {
  height: 100%;
  display: flex;
  align-items: center;
}

#imagen-logo {
  height: 52px;
  object-fit: cover;
}

#nombre-empresa {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  color: red;
  margin-left: 8px;
  letter-spacing: -0.5px;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

header nav a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: #334155;
  font-weight: 500;
  transition: color 300ms ease;
}

header nav a:hover {
  color: red;
}

/* RECETA */

#contenedor-receta {
  display: none;
  margin: 16px auto;
}

#contenedor-receta h1 {
  letter-spacing: -1.5px;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
}

#contenedor-receta h2 {
  letter-spacing: -1px;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
}

/* RECETA -> CABECERA */

#cabecera-receta {
  display: flex;
  align-items: start;
  gap: 8px;
}

#resumen-receta {
  flex-grow: 1;
}

#metadata-receta {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 0.85rem;
  color: #334155;
}

#calificacion-receta {
  display: flex;
  align-items: center;
  gap: 4px;
}

#cantidad-calificaciones {
  text-decoration: underline;
}

#calificacion-receta svg {
  width: 24px;
  height: 24px;
  fill: #fde047;
}

button#guardar-receta {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #ef4444;
  border: transparent;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: -0.25px;
}

button#guardar-receta > svg {
  width: 24px;
  height: 24px;
  stroke: white;
  fill: transparent;
}

button#guardar-receta:hover, button#guardar-receta:active {
  cursor: pointer;
}

#descripcion-receta {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#contenedor-imagen-receta {
  margin: auto;
  margin-top: 12px;
  max-width: 512px;
}

#imagen-receta {
  width: 100%;
  object-fit: cover;
}

/* RECETA -> DESCRIPCION */

#descripcion-receta {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#ingredientes-receta {
  margin-top: 12px;
}

#ingredientes-receta > div {
  padding: 16px;
  text-align: center;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  background-color: #f1f5f9;
}

#ingredientes-receta ul {
  margin-left: 8px;
  list-style: none;
}

#instrucciones-receta {
  margin-top: 12px;
}

#instrucciones-receta > p {
  margin-bottom: 8px;
}

#instrucciones-receta > p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  #contenedor-receta h1 {
    font-size: 2rem;
  }

  #contenedor-receta h2 {
    font-size: 1.5rem;
  }

  #descripcion-receta  {
    grid-template-columns: 1fr 2fr;
  }

  #cabecera-receta {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  #descripcion-receta {
    grid-template-columns: 1fr;
  }
}
